.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.header__row {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  width: 164px;
  height: 80px;
  margin-right: auto;
}

.header__wrapper {
  display: flex;
  gap: 118px;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 56px;
}

.navigation__link {
  position: relative;
  line-height: 16px;
}

.navigation__link::after {
  position: absolute;
  outline: none;
  content: '';
  width: 1%;
  height: 1px;
  margin: 0 auto;
  top: 22px;
  left: 0;
  right: 0;
  background-color: var(--black);
  opacity: 0;
  transition-duration: 0.4s;
}

.navigation__link:hover::after {
  width: 100%;
  opacity: 1;
  border: none;
}

.navigation__link_active {
  pointer-events: none;
}

.navigation__link_active::after {
  width: 100%;
  opacity: 1;
  border: none;
}

.header__inner {
  display: flex;
  gap: 0 56px;
}

.header__comminication {
  display: flex;
  gap: 16px;
  align-items: center;

}

.communication__phone {
  color: #363431;
  line-height: 0;
}

.communication__phone:hover {
  color: #727272;
}

.communication__whatsapp {
  color: #00E676;
  line-height: 0;
}

.communication__whatsapp:hover {
  color: #018143;
}

.communication__text {
  line-height: 16px;
}


.address__img {
  width: 24px;
  height: 24px;
}

.address__text {
  font-size: 14px;
  line-height: 150%;
  max-width: 372px;

}

.header__address {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* .header__address {
  position: relative;
  font-size: 14px;
  line-height: 150%;
  max-width: 372px;
}

.header__address::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.5C9.81276 1.50258 7.71584 2.3726 6.16923 3.91922C4.62261 5.46584 3.75259 7.56276 3.75001 9.75C3.74739 11.5374 4.33124 13.2763 5.41201 14.7C5.41201 14.7 5.63701 14.9963 5.67376 15.039L12 22.5L18.3293 15.0353C18.3623 14.9955 18.588 14.7 18.588 14.7L18.5888 14.6978C19.669 13.2747 20.2526 11.5366 20.25 9.75C20.2474 7.56276 19.3774 5.46584 17.8308 3.91922C16.2842 2.3726 14.1873 1.50258 12 1.5ZM12 12.75C11.4067 12.75 10.8266 12.5741 10.3333 12.2444C9.83995 11.9148 9.45543 11.4462 9.22837 10.8981C9.00131 10.3499 8.9419 9.74667 9.05765 9.16473C9.17341 8.58279 9.45913 8.04824 9.87869 7.62868C10.2982 7.20912 10.8328 6.9234 11.4147 6.80764C11.9967 6.69189 12.5999 6.7513 13.1481 6.97836C13.6962 7.20542 14.1648 7.58994 14.4944 8.08329C14.8241 8.57664 15 9.15666 15 9.75C14.999 10.5453 14.6826 11.3078 14.1202 11.8702C13.5578 12.4326 12.7954 12.749 12 12.75Z' fill='%23363431'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -40px;
} */

.mobile__burger, .burger__close, .mobile__price {
  display: none;
}

@media (max-width:1760px) {

  .navigation__list {
    gap: 40px;
  }

  .header__wrapper {
    gap: 58px;
  }

  .header__inner {
    gap: 0 36px;
  }

}

@media (max-width:1540px) {

  .navigation__list {
    gap: 20px;
  }

  .header__wrapper {
    flex-wrap: wrap;
    gap: 6px 18px;
    justify-content: center;
    max-width: 800px;
  }

  .header__address {
    text-align: center;
  }

  .header__inner {
    gap: 1px 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  ..header__address {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header__address {
    gap: 10px;

  }

  .address__text {
    max-width: none;
  }
}

@media (max-width:1100px) {
  .header__wrapper {
    display: grid;
  }

  .header__navigation {
    justify-self: center;
  }

  .header__inner {
    display: grid;
  }

  .header__comminication {
    justify-self: center;
    grid-row: 2;
  }
}

@media (max-width:815px) {

  .header__row {
    width: 100%;
    justify-content: space-between;
  }

  .mobile__burger {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }

  .mobile__price {
    display: block;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px;
  }

  .header__container {
    padding: 13px 16px;
    align-items: center;
    column-gap: 20px;
    box-shadow: none;
  }


  .header__logo {
    width: 94px;
    height: 46px;
    margin-right: 0;
  }

  .header__wrapper {
    position: fixed;
    left: -288px;
    top: 130px;
    height: 350px;
    width: 288px;
    transform: translateX(0);
    background: #FFFFFF;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    display: block;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    z-index: 100;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  }

  .burger_active {
    transform: translateX(304px);
  }

  .burger__close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    color: var(--black);
  }

  .navigation__list {
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-bottom: 15px;
    display: block;
    align-items: center;
  }

  .navigation__link {
    display: block;
    padding: 7px 14px;
  }

  .navigation__link_active {
    background-color: rgb(225, 230, 235);
    pointer-events: none;
  }

  .navigation__link::after {
    display: none;
  }

  .header__comminication {
    flex-direction: column;
    gap: 15px;
    margin-left: 0;
  }

  .header__address {
    display: none;
  }
}