.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: url("../../../img/hero_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* если картинка не загрузится- страхую черным бэкграундом */
  background-color: black;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 144px;
  padding-bottom: 128px;
  color: #FFFFFF;
}

.hero__title {
  max-width: 784px;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero__line {
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 40px;
}

.hero__text {
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 80px;
}

.hero__btn {
  width: 240px;
  height: 64px;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin-bottom: 144px;
}

.hero__arrow {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}

@media (max-width:425px) {

  .hero__container {
    padding-top: 72px;
    padding-bottom: 40px;
    color: #FFFFFF;
  }

  .hero__title {
    font-weight: 300;
    max-width: 288px;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 24px;
  }

  .hero__line {
    width: 104px;
    margin-bottom: 24px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 56px;
  }

  .hero__btn {
    width: 172px;
    height: 56px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 56px;
  }

  .hero__arrow {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
  }
}