.course__container {
  max-width: 1388px;
  padding: 0 30px 176px 30px;
  margin: 0 auto;
}

.course__title {
  max-width: 784px;
  font-family: 'Vanta';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 176px;
  padding-left: 10px;
  padding-right: 10px;
}

.course__text-wrap {
  display: flex;
  gap: 32px;
  margin-bottom: 120px;
}

.course__text {
  flex: 50%;
  font-size: 24px;
  line-height: 150%;
}

.course__text-green {
  color: #74B900;
}

.course__text-red {
  color: #FF5E7E;
}

.course__img {
  position: relative;
  width: 100%;
  height: 520px;
  border-radius: 16px;
  background: linear-gradient(303.09deg, rgba(174, 180, 174, 0.4) 1.06%, rgba(174, 180, 174, 0.337231) 19.68%, rgba(174, 180, 174, 0) 38.26%, rgba(174, 180, 174, 0) 53.32%), linear-gradient(106.53deg, rgba(174, 180, 174, 0.4) 14.63%, rgba(149, 154, 149, 0.342432) 38.26%, rgba(97, 100, 97, 0.223159) 60.96%, rgba(0, 0, 0, 0) 77.35%, rgba(174, 180, 174, 0) 77.35%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../img/course__pic.jpg") right;
}

.course__wrap-text {
  position: absolute;
  bottom: 80px;
  left: 80px;
}

.course__desc {
  max-width: 568px;
  font-family: 'Vanta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #FFF;
  text-shadow: 0px 4px 56px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}

.course__phone-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

.course__phone {
  font-family: 'Vanta';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
  text-shadow: 0px 4px 56px rgba(0, 0, 0, 0.25);
}

.course__whatsapp {
  color: #00E676;
}

.course__whatsapp:hover {
  color: #018143;
}

.program__title {
  font-family: 'Vanta';
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 120px;
}

.block {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 176px;
}

.block__left {
  padding: 80px 72px 80px 80px;
  width: 784px;
  background-color: #E2F0CA;
  border-radius: 16px;
}

.block__right {
  padding: 80px 72px 80px 80px;
  width: 784px;
  background-color: #F3F3F3;
  border-radius: 16px;
}

.block__title {
  font-family: 'Vanta';
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 48px;

}

.block__text {
  position: relative;
  margin-left: 48px;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;
}

.block__text:last-child {
  margin-bottom: 0;
}

.block__text_left::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #74B900;
  left: -48px;
}

.block__text_right::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F58CA1;
  left: -48px;
}

.course-price_wrap {
  display: flex;
  gap: 32px;
  padding: 80px 136px 80px 80px;
  margin: 0 auto;
  margin-bottom: 176px;
  max-width: 1056px;
  background-color: #F58CA1;
  border-radius: 16px;

}

.course-price__title {
  font-family: 'Vanta';
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: start;
  max-width: 400px;
}

.course-price__desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.course-price__price {
  font-family: 'Vanta';
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
}

.course-price__text {
  position: relative;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 23px;
}

.course-price__text::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #74B900;
  left: -23px;
}

.course-price__btn {
  width: 314px;
  height: 64px;
  font-family: 'Vanta';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #74B900;
  border: none;
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media (max-width: 1440px) {
  .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 76px;
  }

  .block__left {
    padding: 30px 24px 30px 16px;
    width: 100%;
  }

  .block__right {
    padding: 30px 24px 30px 16px;
    width: 100%;
  }

  .block__title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 28px;
  }

  .block__text {
    position: relative;
    margin-left: 48px;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .block__text_left::before {
    width: 20px;
    height: 20px;
    left: -44px;
  }

  .block__text_right::before {
    width: 20px;
    height: 20px;
    left: -44px;
  }
}

@media (max-width: 840px) {

  .course-price_wrap {
    gap: 32px;
    padding: 40px 40px 40px 40px;
    margin-bottom: 36px;
    max-width: 100%;
    justify-content: space-between;
  }

  .course-price__title {
    font-size: 28px;
    max-width: 200px;
  }

  .course-price__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .course-price__price {
    font-size: 22px;
  }

  .course-price__text {
    font-size: 12px;
  }

  .course-price__text::before {
    width: 10px;
    height: 10px;
    left: -21px;
  }

  .course-price__btn {
    width: 250px;
    height: 44px;
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .course__title {
    font-size: 36px;
    padding-bottom: 76px;

  }

  .course__text-wrap {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
  }

  .course__text {
    flex: 100%;
  }

  .course__wrap-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  .course__desc {
    max-width: 450px;
    font-size: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
  }

}

@media (max-width: 650px) {

  .course__container {
    max-width: 650px;
    padding: 0 16px 76px 16px;
    margin: 0 auto;
  }

  .course__title {
    width: 100%;
    font-size: 28px;
    padding-bottom: 76px;
  }

  .course__text-wrap {
    flex-direction: column;
    margin-bottom: 70px;
  }

  .course__text {
    font-size: 18px;
    line-height: 170%;
  }

  .course__img {
    height: 220px;
    width: 100%;
    background: linear-gradient(303.09deg, rgba(174, 180, 174, 0.4) 1.06%, rgba(174, 180, 174, 0.337231) 19.68%, rgba(174, 180, 174, 0) 38.26%, rgba(174, 180, 174, 0) 53.32%), linear-gradient(106.53deg, rgba(174, 180, 174, 0.4) 14.63%, rgba(149, 154, 149, 0.342432) 38.26%, rgba(97, 100, 97, 0.223159) 60.96%, rgba(0, 0, 0, 0) 77.35%, rgba(174, 180, 174, 0) 77.35%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../img/course__pic_mobile.jpg") right;
  }

  .course__wrap-text {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .course__desc {
    max-width: 350px;
    font-size: 22px;
    margin-bottom: 18px;
    padding: 0 5px;
  }

  .course__phone-wrap {
    gap: 8px;
    padding: 0 5px;
  }

  .course__phone {
    font-size: 18px;
  }

  .course__whatsapp {
    width: 30px;
    height: 30px;
  }

  .program__title {
    width: 100%;
    font-size: 28px;
    margin-bottom: 76px;
  }

  .course-price_wrap {
    flex-direction: column;
    gap: 32px;
    padding: 10px 16px 40px 16px;
    margin-bottom: 36px;
    max-width: 100%;
  }

  .course-price__title {
    font-size: 28px;

  }

  .course-price__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .course-price__price {
    font-size: 22px;
  }

  .course-price__text {
    font-size: 12px;
  }

  .course-price__text::before {
    width: 10px;
    height: 10px;
    left: -21px;
  }

  .course-price__btn {
    width: 250px;
    height: 44px;
    font-size: 16px;
  }
}